@import url("https://fonts.xz.style/serve/ubuntu-mono.css");

:root {
    --nc-font-sans: "Ubuntu Mono", monospace;
    --nc-font-mono: "Ubuntu Mono", monospace;

    --nc-tx-1: #cdd6f4;
    --nc-tx-2: #eeeeee;
    --nc-bg-1: #1e1e2e;
    --nc-bg-2: #181825;
    --nc-bg-3: #11111b;
    --nc-lk-1: #4d9fc5;
    --nc-lk-2: #89b4fa;
    --nc-lk-tx: #cdd6f4;
    --nc-ac-1: #b4befe;
    --nc-ac-tx: #11111b;
}

.piplup {
  float: right;
  margin-top: 130px;
  padding: 0;
}


@media only screen and (max-width: 600px) {
  .piplup {
    display: none;
  }
}
